
   h1 {
    margin-top: 6rem;
    text-align: center;
  }

  .designer {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .designer img {
    margin-left: 36px;
    height: 32px;
  }

  .designer a {
    text-decoration: none;
  }

  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  
  @media (max-width: 400px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  